body {
   background-color: rgb(30, 27, 27);
}

header>.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
   border-radius: 0px 0px 8px 8px;
   padding: 0px 100px;
}
a {
   color: aliceblue;
   
}
.menu-items-header {
   display: flex;
   flex-direction: row ;
   align-items: center;
   justify-content: ;
   list-style: none;
   gap: 54px;
}
